.DS_Store


.gradle/
.idea/
bin/
gen/
android/app/build


ios/project/*.xcworkspace
ios/project/*.xcodeproj/**
!ios/project/*.xcodeproj/project.pbxproj
ios/project/Pods

node_modules/

# @morpheus만 예외적으로 추적 허용
!node_modules/@morpheus/
!node_modules/@morpheus/**/*